In [182]:
data1 <- read.csv("h1b_kaggle.csv")

In [184]:
data1 <- na.omit(data1)

In [185]:
nrow(data1)

[1] 2877783

In [186]:
data1 <- data1[data1$JOB_TITLE == "COMPUTER PROGRAMMER" | data1$JOB_TITLE == "BUSINESS ANALYST" |data1$JOB_TITLE =="CONSULTANT"| data1$JOB_TITLE =="ACCOUNTANT" ,]

In [187]:
nrow(data1)

[1] 143054

In [188]:
summary(data1)

       X                                                       CASE_STATUS
 Min.   :   4601   CERTIFIED                                         :128436
 1st Qu.: 839584   CERTIFIED-WITHDRAWN                               :  7027
 Median :1534365   DENIED                                            :  3968
 Mean   :1498093   INVALIDATED                                       :     0
 3rd Qu.:2227209   PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED:     0
 Max.   :3002428   REJECTED                                          :     0
                   WITHDRAWN                                         :  3623
                           EMPLOYER_NAME                         SOC_NAME
 TATA CONSULTANCY SERVICES LIMITED: 15929   Computer Programmers     :43296
 DELOITTE CONSULTING LLP          : 10762   COMPUTER PROGRAMMERS     :25820
 LARSEN & TOUBRO INFOTECH LIMITED :  4216   Computer Systems Analysts:13065
 IGATE TECHNOLOGIES INC.          :  3836   COMPUTER SYSTEMS ANALYSTS:11400
 WIPRO LIMITED                    :  3723   Management Analysts      : 8612
 TECH MAHINDRA (AMERICAS),INC.    :  2544   Accountants and Auditors : 7068
 (Other)                          :102044   (Other)                  :33793
                      JOB_TITLE     FULL_TIME_POSITION PREVAILING_WAGE
 COMPUTER PROGRAMMER       :68696   N: 26820           Min.   :        0
 BUSINESS ANALYST          :38781   Y:116234           1st Qu.:    52499
 CONSULTANT                :22643                      Median :    59280
 ACCOUNTANT                :12934                      Mean   :   143300
 'ACCOUNTANT               :    0                      3rd Qu.:    66373
 'COMPUTER SYSTEMS ANALYSTS:    0                      Max.   :242971040
 (Other)                   :    0
      YEAR                            WORKSITE           lon
 Min.   :2011   NEW YORK, NEW YORK        :  6706   Min.   :-157.86
 1st Qu.:2013   HOUSTON, TEXAS            :  3878   1st Qu.: -96.73
 Median :2014   ATLANTA, GEORGIA          :  3563   Median : -84.29
 Mean   :2014   PHILADELPHIA, PENNSYLVANIA:  3152   Mean   : -88.50
 3rd Qu.:2015   CHICAGO, ILLINOIS         :  2898   3rd Qu.: -74.93
 Max.   :2016   DALLAS, TEXAS             :  1880   Max.   : 145.73
                (Other)                   :120977
      lat
 Min.   :13.44
 1st Qu.:34.11
 Median :39.74
 Mean   :38.18
 3rd Qu.:40.87
 Max.   :61.22

In [189]:
data1$PREVAILING_WAGE <- cut(data1$PREVAILING_WAGE, breaks = c(0,55000,75000,175000,160000000), labels = c("Low","Medium","High","Very High"),right = FALSE)

In [190]:
summary(data1)

       X                                                       CASE_STATUS
 Min.   :   4601   CERTIFIED                                         :128436
 1st Qu.: 839584   CERTIFIED-WITHDRAWN                               :  7027
 Median :1534365   DENIED                                            :  3968
 Mean   :1498093   INVALIDATED                                       :     0
 3rd Qu.:2227209   PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED:     0
 Max.   :3002428   REJECTED                                          :     0
                   WITHDRAWN                                         :  3623
                           EMPLOYER_NAME                         SOC_NAME
 TATA CONSULTANCY SERVICES LIMITED: 15929   Computer Programmers     :43296
 DELOITTE CONSULTING LLP          : 10762   COMPUTER PROGRAMMERS     :25820
 LARSEN & TOUBRO INFOTECH LIMITED :  4216   Computer Systems Analysts:13065
 IGATE TECHNOLOGIES INC.          :  3836   COMPUTER SYSTEMS ANALYSTS:11400
 WIPRO LIMITED                    :  3723   Management Analysts      : 8612
 TECH MAHINDRA (AMERICAS),INC.    :  2544   Accountants and Auditors : 7068
 (Other)                          :102044   (Other)                  :33793
                      JOB_TITLE     FULL_TIME_POSITION  PREVAILING_WAGE
 COMPUTER PROGRAMMER       :68696   N: 26820           Low      :46953
 BUSINESS ANALYST          :38781   Y:116234           Medium   :81551
 CONSULTANT                :22643                      High     :14422
 ACCOUNTANT                :12934                      Very High:  123
 'ACCOUNTANT               :    0                      NA's     :    5
 'COMPUTER SYSTEMS ANALYSTS:    0
 (Other)                   :    0
      YEAR                            WORKSITE           lon
 Min.   :2011   NEW YORK, NEW YORK        :  6706   Min.   :-157.86
 1st Qu.:2013   HOUSTON, TEXAS            :  3878   1st Qu.: -96.73
 Median :2014   ATLANTA, GEORGIA          :  3563   Median : -84.29
 Mean   :2014   PHILADELPHIA, PENNSYLVANIA:  3152   Mean   : -88.50
 3rd Qu.:2015   CHICAGO, ILLINOIS         :  2898   3rd Qu.: -74.93
 Max.   :2016   DALLAS, TEXAS             :  1880   Max.   : 145.73
                (Other)                   :120977
      lat
 Min.   :13.44
 1st Qu.:34.11
 Median :39.74
 Mean   :38.18
 3rd Qu.:40.87
 Max.   :61.22

In [21]:
install.packages("reshape2",repos="https://cran.r-project.org")

Installing package into 'C:/Users/Haril Satra/Documents/R/win-library/3.3'
(as 'lib' is unspecified)

package 'reshape2' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'reshape2'"

The downloaded binary packages are in
	C:\Users\Haril Satra\AppData\Local\Temp\Rtmp2NqWen\downloaded_packages

In [22]:
library("reshape2")

In [194]:
temp <- colsplit(data1$WORKSITE, pattern = ", ", names = c('CITY', 'STATE'))

In [195]:
str(temp)

'data.frame':	143054 obs. of  2 variables:
 $ CITY : chr  "ASHBURN" "CARY" "NEW YORK" "JERSEY CITY" ...
 $ STATE: chr  "VIRGINIA" "NORTH CAROLINA" "NEW YORK" "NEW JERSEY" ...

In [196]:
data1$WORKSITE <- NULL

In [197]:
data1 <- cbind(data1,temp)

In [198]:
head(data1)

      X     CASE_STATUS EMPLOYER_NAME
4601   4601 CERTIFIED   GLOBAL TELECOM GROUP, INC.
7304   7304 DENIED      DIGIVERSE
9860   9860 WITHDRAWN   NIIT TECHNOLOGIES LIMITED
10175 10175 CERTIFIED   CAPGEMINI AMERICA INC
14248 14248 CERTIFIED   CITIGROUP GLOBAL MARKETS INC.
16939 16939 CERTIFIED   INSTITUTIONAL SHAREHOLDER SERVICES, INC.
      SOC_NAME                                  JOB_TITLE
4601  MARKETING MANAGERS                        BUSINESS ANALYST
7304  ADMINISTRATIVE SERVICES MANAGERS          CONSULTANT
9860  COMPUTER AND INFORMATION SYSTEMS MANAGERS BUSINESS ANALYST
10175 COMPUTER AND INFORMATION SYSTEMS MANAGERS BUSINESS ANALYST
14248 FINANCIAL MANAGERS                        BUSINESS ANALYST
16939 COMPENSATION AND BENEFITS MANAGERS        BUSINESS ANALYST
      FULL_TIME_POSITION PREVAILING_WAGE YEAR lon       lat      CITY
4601  N                  Medium          2016 -77.48744 39.04376 ASHBURN
7304  N                  Medium          2016 -78.78112 35.79154 CARY
9860  Y                  Medium          2016 -74.00594 40.71278 NEW YORK
10175 N                  Medium          2016 -74.07764 40.72816 JERSEY CITY
14248 Y                  High            2016 -74.00594 40.71278 NEW YORK
16939 N                  Medium          2016 -77.15276 39.08400 ROCKVILLE
      STATE
4601  VIRGINIA
7304  NORTH CAROLINA
9860  NEW YORK
10175 NEW JERSEY
14248 NEW YORK
16939 MARYLAND

In [199]:
levels(data1$PREVAILING_WAGE) <- c("LOW","MEDIUM","HIGH","VERY HIGH")

In [200]:
summary(data1)

       X                                                       CASE_STATUS
 Min.   :   4601   CERTIFIED                                         :128436
 1st Qu.: 839584   CERTIFIED-WITHDRAWN                               :  7027
 Median :1534365   DENIED                                            :  3968
 Mean   :1498093   INVALIDATED                                       :     0
 3rd Qu.:2227209   PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED:     0
 Max.   :3002428   REJECTED                                          :     0
                   WITHDRAWN                                         :  3623
                           EMPLOYER_NAME                         SOC_NAME
 TATA CONSULTANCY SERVICES LIMITED: 15929   Computer Programmers     :43296
 DELOITTE CONSULTING LLP          : 10762   COMPUTER PROGRAMMERS     :25820
 LARSEN & TOUBRO INFOTECH LIMITED :  4216   Computer Systems Analysts:13065
 IGATE TECHNOLOGIES INC.          :  3836   COMPUTER SYSTEMS ANALYSTS:11400
 WIPRO LIMITED                    :  3723   Management Analysts      : 8612
 TECH MAHINDRA (AMERICAS),INC.    :  2544   Accountants and Auditors : 7068
 (Other)                          :102044   (Other)                  :33793
                      JOB_TITLE     FULL_TIME_POSITION  PREVAILING_WAGE
 COMPUTER PROGRAMMER       :68696   N: 26820           LOW      :46953
 BUSINESS ANALYST          :38781   Y:116234           MEDIUM   :81551
 CONSULTANT                :22643                      HIGH     :14422
 ACCOUNTANT                :12934                      VERY HIGH:  123
 'ACCOUNTANT               :    0                      NA's     :    5
 'COMPUTER SYSTEMS ANALYSTS:    0
 (Other)                   :    0
      YEAR           lon               lat            CITY
 Min.   :2011   Min.   :-157.86   Min.   :13.44   Length:143054
 1st Qu.:2013   1st Qu.: -96.73   1st Qu.:34.11   Class :character
 Median :2014   Median : -84.29   Median :39.74   Mode  :character
 Mean   :2014   Mean   : -88.50   Mean   :38.18
 3rd Qu.:2015   3rd Qu.: -74.93   3rd Qu.:40.87
 Max.   :2016   Max.   : 145.73   Max.   :61.22

    STATE
 Length:143054
 Class :character
 Mode  :character

In [90]:
write.csv(data1,"data1.csv")

In [201]:
str(data1)

'data.frame':	143054 obs. of  12 variables:
 $ X                 : int  4601 7304 9860 10175 14248 16939 17683 20499 20501 21586 ...
 $ CASE_STATUS       : Factor w/ 7 levels "CERTIFIED","CERTIFIED-WITHDRAWN",..: 1 3 7 1 1 1 1 1 1 3 ...
 $ EMPLOYER_NAME     : Factor w/ 236014 levels "'K' LINE LOGISTICS USA INC",..: 84746 59377 147017 36155 43340 103090 216495 187805 187805 74274 ...
 $ SOC_NAME          : Factor w/ 2133 levels "<FONT><FONT>CARPINTEROS</FONT></FONT>",..: 1274 26 364 364 848 340 520 1334 1334 1646 ...
 $ JOB_TITLE         : Factor w/ 287550 levels "'ACCOUNTANT",..: 35091 53567 35091 35091 35091 35091 53567 35091 35091 1859 ...
 $ FULL_TIME_POSITION: Factor w/ 2 levels "N","Y": 1 1 2 1 2 1 2 2 2 1 ...
 $ PREVAILING_WAGE   : Factor w/ 4 levels "LOW","MEDIUM",..: 2 2 2 2 3 2 3 2 2 2 ...
 $ YEAR              : int  2016 2016 2016 2016 2016 2016 2016 2016 2016 2016 ...
 $ lon               : num  -77.5 -78.8 -74 -74.1 -74 ...
 $ lat               : num  39 35.8 40.7 40.7 40.7 ...
 $ CITY              : chr  "ASHBURN" "CARY" "NEW YORK" "JERSEY CITY" ...
 $ STATE             : chr  "VIRGINIA" "NORTH CAROLINA" "NEW YORK" "NEW JERSEY" ...

In [202]:
mapping <- data.frame(STATE=state.name,REGION=state.region)

In [203]:
mapping$STATE <- toupper(mapping$STATE)
mapping$REGION <- toupper(mapping$REGION)

In [204]:
str(mapping)

'data.frame':	50 obs. of  2 variables:
 $ STATE : chr  "ALABAMA" "ALASKA" "ARIZONA" "ARKANSAS" ...
 $ REGION: chr  "SOUTH" "WEST" "WEST" "SOUTH" ...

In [205]:
mapping$STATE <- as.character(mapping$STATE)
mapping$REGION <- as.character(mapping$REGION)

In [206]:
head(mapping)

  STATE      REGION
1 ALABAMA    SOUTH
2 ALASKA     WEST
3 ARIZONA    WEST
4 ARKANSAS   SOUTH
5 CALIFORNIA WEST
6 COLORADO   WEST

In [207]:
final <- merge(data1,mapping,by="STATE")

In [208]:
head(final)

  STATE   X       CASE_STATUS EMPLOYER_NAME
1 ALABAMA 1852434 CERTIFIED   AIA RECYCLING CORPORATION
2 ALABAMA   36577 CERTIFIED   SLRI SOLUTIONS, LLC
3 ALABAMA 1448478 CERTIFIED   TATA CONSULTANCY SERVICES LIMITED
4 ALABAMA 1034644 CERTIFIED   TECHNOSOFT CORPORATION
5 ALABAMA 2885231 CERTIFIED   HORIZON TECHNOLOGIES INC
6 ALABAMA 1556606 CERTIFIED   GLOBAL SYSTEMS LLC
  SOC_NAME                  JOB_TITLE           FULL_TIME_POSITION
1 Accountants and Auditors  ACCOUNTANT          Y
2 MANAGEMENT ANALYSTS       BUSINESS ANALYST    N
3 Computer Programmers      COMPUTER PROGRAMMER Y
4 COMPUTER SYSTEMS ANALYSTS BUSINESS ANALYST    Y
5 Computer Programmers      COMPUTER PROGRAMMER Y
6 Computer Systems Analysts BUSINESS ANALYST    Y
  PREVAILING_WAGE YEAR lon       lat      CITY       REGION
1 LOW             2013 -86.61775 31.82960 GREENVILLE SOUTH
2 MEDIUM          2016 -86.58610 34.73037 HUNTSVILLE SOUTH
3 LOW             2014 -86.98334 34.60593 DECATUR    SOUTH
4 LOW             2015 -86.29997 32.36681 MONTGOMERY SOUTH
5 LOW             2011 -86.58610 34.73037 HUNTSVILLE SOUTH
6 LOW             2014 -86.80249 33.52066 BIRMINGHAM SOUTH

In [209]:
summary(final)

    STATE                 X
 Length:141675      Min.   :   4601
 Class :character   1st Qu.: 838553
 Mode  :character   Median :1533541
                    Mean   :1497348
                    3rd Qu.:2225463
                    Max.   :3002428

                                             CASE_STATUS
 CERTIFIED                                         :127317
 CERTIFIED-WITHDRAWN                               :  6929
 DENIED                                            :  3836
 INVALIDATED                                       :     0
 PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED:     0
 REJECTED                                          :     0
 WITHDRAWN                                         :  3593
                           EMPLOYER_NAME                         SOC_NAME
 TATA CONSULTANCY SERVICES LIMITED: 15851   Computer Programmers     :43047
 DELOITTE CONSULTING LLP          : 10727   COMPUTER PROGRAMMERS     :25667
 LARSEN & TOUBRO INFOTECH LIMITED :  4216   Computer Systems Analysts:12927
 IGATE TECHNOLOGIES INC.          :  3835   COMPUTER SYSTEMS ANALYSTS:11276
 WIPRO LIMITED                    :  3717   Management Analysts      : 8532
 TECH MAHINDRA (AMERICAS),INC.    :  2544   Accountants and Auditors : 6801
 (Other)                          :100785   (Other)                  :33425
                      JOB_TITLE     FULL_TIME_POSITION  PREVAILING_WAGE
 COMPUTER PROGRAMMER       :68294   N: 26581           LOW      :46443
 BUSINESS ANALYST          :38310   Y:115094           MEDIUM   :80856
 CONSULTANT                :22525                      HIGH     :14250
 ACCOUNTANT                :12546                      VERY HIGH:  121
 'ACCOUNTANT               :    0                      NA's     :    5
 'COMPUTER SYSTEMS ANALYSTS:    0
 (Other)                   :    0
      YEAR           lon               lat            CITY
 Min.   :2011   Min.   :-157.86   Min.   :21.31   Length:141675
 1st Qu.:2013   1st Qu.: -96.73   1st Qu.:34.11   Class :character
 Median :2014   Median : -84.29   Median :39.77   Mode  :character
 Mean   :2014   Mean   : -89.01   Mean   :38.22
 3rd Qu.:2015   3rd Qu.: -74.89   3rd Qu.:40.89
 Max.   :2016   Max.   : -68.78   Max.   :61.22

    REGION
 Length:141675
 Class :character
 Mode  :character

In [210]:
write.csv(final,"data1.csv")